
@font-face {
  font-display: swap;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-condensed-v12-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-condensed-v12-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bellefair-v14-latin-regular.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Condensed";
}

.site-header {
  padding: 20px 0;
  font-family: Barlow Condensed;
  position: fixed;
  width: 100%;
  z-index: 50;
}

.header {
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 507px;
  z-index: 50;
}

.header__logo-link {
  margin-left: 55px;
}
.header__logo-link::after {
  margin-left: 64px;
  content: "";
  position: absolute;
  width: 473px;
  height: 1px;
  bottom: 0px;
  top: 20px;
  background-color: white;
}

.header__list {
  padding: 36px 0 0 126px;
  margin-left: 610px;
  background-color: #1A1B26;
  position: fixed;
  width: 830px;
  height: 96px;
  z-index: 50;
  display: flex;
  align-self: center;
  gap: 100px;
}

.header__link {
  margin-top: 50px;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: white;
  position: relative;
  transition: all 0.3s linear;
}
.header__link:hover::after {
  content: "";
  position: absolute;
  width: 104px;
  height: 3px;
  bottom: -40px;
  right: 0;
  left: -11px;
  background-color: white;
}

.header__link-span {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: white;
}

.hero-section {
  font-family: Bellefair;
  padding: 86px 0;
  background-image: url("../../images/bg-technology.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: bottom center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);

/* FONTS */ /* barlow-condensed-regular - latin */
@font-face {
  font-family: "Barlow";
  src: url("../Fonts/Livvic-Regular.ttf");

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/* FONTS */ /* barlow-condensed-regular - latin */
@font-face {
  font-family: "Barlow";
  src: url("../fonts/barlow-condensed-v12-latin-regular.woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;

}

body {
  font-family: "Barlow";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 40px 0 62px 0;
  font-family: Barlow Condensed;
  position: fixed;
  width: 100%;
  z-index: 50;
}


.hero__title-wrapper {
  width: 360px;
  margin-left: 166px;
  margin-bottom: 137px;
  margin-top: 76px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
}

.hero__title--span {
  margin-bottom: 0px;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  color: #545353;
}

.hero__title {
  margin-bottom: 0px;
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
  color: white;
}

.wrapper {
  width: 88px;
  display: inline block;
  margin-left: 115px;
  margin-bottom: 75px;
  margin-top: 25px;
}

.hero__strong {
  padding: 24px 32px;
  border: 1px solid #505050;
  border-radius: 50%;
  color: white;
  background-color: transparent;
  transition: all 0.3s ease;
}
.hero__strong:hover {
  color: black;
  border: none;
  background-color: white;
}

.hero__strong-2 {
  padding: 24px 32px;
  color: white;
  border: 1px solid #505050;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.3s ease;
}
.hero__strong-2:hover {
  color: black;
  border: none;
  background-color: white;
}

.hero__strong-3 {
  padding: 24px 32px;
  color: white;
  border: 1px solid #505050;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.3s ease;
}
.hero__strong-3:hover {
  color: black;
  border: none;
  background-color: white;
}

.hero__content-wrapper {
  display: flex;
  position: relative;
}

.contents__wrapper {
  display: flex;
  padding: 30px;
}

.content__wrapper {
  width: 479px;
  margin-left: 80px;
}

.content__strong {
  font-family: "Bellefair";
  margin-bottom: 11px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #D0D6F9;
}

.content__title {
  margin-bottom: 17px;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  color: white;
}

.content__text {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #D0D6F9;
}

.content__img__wrapper {
  position: absolute;
  right: 1px;
  top: 177px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 130px;
  margin-bottom: 101px;
.header {
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 507px;
  z-index: 50;
  margin: 0 auto;
}

.header__logo-link {
  margin-left: 55px;
}
.header__logo-link::after {
  margin-left: 64px;
  content: "";
  position: absolute;
  width: 473px;
  height: 1px;
  bottom: 0px;
  top: 20px;
  background-color: white;
}

.header__list {
  padding: 36px 0 0 126px;
  margin-left: 610px;
  background-color: #1A1B26;
  position: fixed;
  width: 830px;
  height: 96px;
  z-index: 50;
  display: flex;
  align-self: center;
  gap: 100px;
}

.header__link {
  margin-top: 50px;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: white;
  position: relative;
  transition: all 0.3s linear;
}
.header__link:hover::after {
  content: "";
  position: absolute;
  width: 104px;
  height: 3px;
  bottom: -40px;
  right: 0;
  left: -11px;
  background-color: white;
}

.header__link-span {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: white;
}

.crew__hero-section {
  width: 100%;
}

.crew-body {
  background-image: url(../../images/bg-crew.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.crew__hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.crew__wrapper {
  padding: 198px 0 98px;
}

.crew__meet {
  display: flex;
  gap: 24px;
}
.crew__meet h1 {
  margin-bottom: 0px;
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
  color: white;
  margin-bottom: 154px;
}
.crew__meet strong {
  margin-bottom: 0px;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  color: rgb(86, 82, 82);
}

.crew__commander h2 {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 400;
  line-height: 36.67px;
  color: rgb(86, 82, 82);
}
.crew__commander p {
  width: 100%;
  margin-bottom: 27px;
  font-size: 56px;
  font-weight: 400;
  line-height: 64.18px;
  color: white;
}
.crew__commander span {
  width: 444px;
  display: inline-block;
  margin-bottom: 120px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: white;
}

body {
  font-family: "Barlow";
}

body {
  background-image: url("../images/bg-home.png");
  background-repeat: no-repeat;
  background-position: center;
}

.space-header {
  max-width: 1385px;
  margin: 0 auto;
  padding-top: 40px;
}

.space-logo {
  margin-right: 507px;
}

.space-line {
  width: 473px;
  height: 2px;
  background-color: rgb(73, 72, 72);
  z-index: 10;
  position: absolute;
  left: 160px;
}

.space-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  position: relative;
}

.space-header-navbar {
  max-width: 830px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.04);
}

.space-navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 123px;
  padding-right: 167px;
}

.space-navbar-item1:hover::after {
  content: "";
  position: absolute;
  width: 104px;
  height: 3px;
  bottom: 0px;
  left: 100px;
  background-color: rgb(255, 255, 255);
}

.space-navbar-item2:hover::after {
  content: "";
  position: absolute;
  width: 104px;
  height: 3px;
  bottom: 0px;
  left: 225px;
  background-color: rgb(255, 255, 255);
}

.space-navbar-item3:hover::after {
  content: "";
  position: absolute;
  width: 104px;
  height: 3px;
  bottom: 0px;
  left: 350px;
  background-color: rgb(255, 255, 255);
}

.space-navbar-item4:hover::after {
  content: "";
  position: absolute;
  width: 104px;
  height: 3px;
  bottom: 0px;
  background-color: rgb(255, 255, 255);
}

.space-navbar-link {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 11px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: white;
}

.space-hero {
  margin-top: 251px;
}

.space-hero-wrapper {
  display: flex;
  align-items: none;
  justify-content: space-between;
  gap: 0px;
}

.space__hero-content {
  max-width: 354px;
}

.hero-content-text1 {
  margin-bottom: 0px;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  color: #D0D6F9;
}

.hero-content-title {
  margin-bottom: 0px;
  font-size: 150px;
  font-weight: 400;
  line-height: 172px;
  color: #D0D6F9;
}

.hero-content-text2 {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  color: #D0D6F9;
}

.space-explore {
  background-color: white;
  width: 274px;
  height: 274px;
  text-align: center;
  border-radius: 100%;
  margin-top: 70px;
}

.space-explore-text {
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  color: #0B0D17;
  padding-top: 119px;
}/*# sourceMappingURL=main.css.map */