.site-header {
    padding: 40px 0 62px 0  ;
    font-family:Barlow Condensed;
    position: fixed;
    width: 100%;
    z-index: 50;
}
.header {
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 507px;
    z-index: 50;
    margin: 0 auto;

}
.header__logo-link {    
    margin-left: 55px;

    &::after{
        margin-left: 64px;
        content: "";
        position: absolute;
        width: 473px;
        height: 1px;
        bottom: 0px;
        top: 20px;
        background-color: white;

    }
}
.header__list {
    padding: 36px 0 0 126px;
    margin-left: 610px;
    background-color: #1A1B26;
    position: fixed;
    width: 830px;
    height: 96px;
    z-index: 50;
    display: flex;
    align-self: center;
    gap: 100px;
}
.header__link{
    margin-top: 50px;
    text-transform: uppercase;
    @include textStyle($FS:16px, $FW:400, $LH:19px, $MB:0px, $CLR:white);
    position: relative;
    transition: all 0.3s linear;

        &:hover{
            &::after{
                content: "";
                position: absolute;
                width: 104px;
                height: 3px;
                bottom: -40px;
                right: 0;
                left: -11px;
                background-color: white;
            }

        }
    

}
.header__link-span{
    @include textStyle($FS:16px, $FW:700, $LH:19px, $MB:0px, $CLR:white);
}
.crew__hero-section{
    width: 100%;
}
.crew-body{
    background-image: url(../../images/bg-crew.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.crew__hero{
   @include display($items:center, $space:space-between, $gap:0px);
}
.crew__wrapper{
    padding: 198px 0 98px ;
}
.crew__meet{
    display: flex;
    gap: 24px;
    h1{
    @include textStyle($FS:28px, $FW:400, $LH:33px, $MB:0px, $CLR:white);
        margin-bottom: 154px;
    }
    strong{
    @include textStyle($FS:28px, $FW:700, $LH:33px, $MB:0px, $CLR:rgb(86, 82, 82));
        
    }
}

.crew__commander-img{
}
.crew__commander{
    h2{
    @include textStyle($FS:32px, $FW:400, $LH:36.67px, $MB:15px, $CLR:rgb(86, 82, 82));

    }
    p{
        width: 100%;
    @include textStyle($FS:56px, $FW:400, $LH:64.18px, $MB:27px, $CLR:white);
        
    }
    span{
        width: 444px;
        display: inline-block;
    @include textStyle($FS:18px, $FW:400, $LH:32px, $MB:120px, $CLR:white);

    }
}